<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supprimer Facturation</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Supprimer Facturation</h1>
    <p>Voulez-vous vraiment supprimer la facturation "{{ facturation.produit.code_article }}"?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
      <a href="{% url 'facturation_page' %}" class="btn btn-secondary">Annuler</a>
    </form>
  </div>
</body>
</html>
