{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<br><br>

<div class="d-flex flex-wrap justify-content-start">
   <div class="p-2">
     <a href="{% url 'add-invoice' %}" class="btn btn-primary">
       {% trans 'Enregistrer une nouvelle facture' %} <span class="badge text-bg-secondary"></span>
     </a>
 
     <a href="{% url 'add-invoice2' %}" class="btn btn-primary">
       {% trans 'Enregistrer une nouvelle bon de livraison' %} <span class="badge text-bg-secondary"></span>
     </a>
  
     <a href="{% url 'add-customer' %}" class="btn btn-primary">
       {% trans 'Enregistrez un nouveau client' %} <span class="badge text-bg-secondary"></span>
     </a>
   
     <a href="{% url 'add-invoice3' %}" class="btn btn-primary">
       {% trans 'Enregistrez un nouveau produit' %} <span class="badge text-bg-secondary"></span>
     </a>
   </div>
 </div>

<br><br>

<div class="form-group">
   <input id="search" class="form-control" type="text" placeholder="Rechercher....">
</div>

<div>
   <table class="table table-striped-columns">
      <thead>
         <tr>
            <th scope="col">#</th>
            <th scope="col">NOM CLIENT</th>
            <th scope="col">DATE</th>
            <th scope="col">TOTAL</th>
            <th scope="col">TYPE DE FACTURE</th>
            <th scope="col">ACTION</th>
         </tr>
      </thead>
      <tbody id="myTable">
         {% if invoices %}
         {% for facture in invoices %}
         <tr>
            <th scope="row">{{ forloop.counter0|add:invoices.start_index }}</th>
            <td>{{ facture.customer.name }}</td>
            <td>{{ facture.invoice_date_time|date:"d-m-Y" }}</td>
            <td>{{ facture.get_total }}</td>
            <td>{{ facture.get_invoice_type_display }}</td>
            <td>
               <a href="#" title="{% trans 'Detail' %}" class="btn btn-sm btn-primary" data-id="{{ facture.pk }}" data-type="{{ facture.invoice_type }}">{% trans 'View' %}</a>
               <button id="btn-invoice-sup" type="button" data-toggle="modal" data-target="#supprimer" class="badge text-white bg-danger" title="Supprimer" data-id="{{ facture.pk }}" data-customer="{{ facture.customer.name }}">{% trans 'Delete' %} </button>
            </td>
         </tr>
         {% endfor %}

         {% if invoices.has_other_pages %}
         <div class="btn-group" role="group" aria-label="Item pagination">
            {% if invoices.has_previous %}
            <a href="?page={{ invoices.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
            {% endif %}

            {% for page_number in invoices.paginator.page_range %}
               {% if invoices.number == page_number %}
                  <button class="btn btn-outline-primary active">
                     <span> {{ page_number }} <span class="sr-only">(current)</span></span>
                  </button>
               {% else %}
                  <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                     {{ page_number }}
                  </a>
               {% endif %}
            {% endfor %}

            {% if invoices.has_next %}
               <a href="?page={{ invoices.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
            {% endif %}
         </div>
         {% endif %}
         {% else %}
         <p class="text-center text-white">No invoice found.</p>
         {% endif %}
      </tbody>
   </table>
</div>

<!-- Modal suppression -->
<div class="modal fade" id="supprimer" tabindex="-1" role="dialog" aria-labelledby="sexampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title text-dark" id="sexampleModalLabel">Delete Invoice</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form method="post">
               {% csrf_token %}
               <input name="id_supprimer" type="hidden" id="id_supprimer">
               <label id="label_id_s" class="text-dark checkbox-inline"> <strong id="strong_id_s">Are you sure you want to delete the invoice?</strong></label>

               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger">Delete</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- end modal-->

<br><br>

<script type="text/javascript">
   // modification
   $(document).on('click', '#btn-invoice-mod', function() {
      let invoice_id = $(this).data('id');
      let customer = $(this).data('customer');
      $('#id_modified').val(invoice_id);
   })

   // deleting of invoice
   $(document).on('click', '#btn-invoice-sup', function() {
      let invoice_id = $(this).data('id');
      let customer = $(this).data('customer');
      $('#id_supprimer').val(invoice_id);
   })
</script>

<script>
   $(document).ready(function() {
      $("#search").on("keyup", function() {
         var value = $(this).val().toLowerCase();
         $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLocaleLowerCase().indexOf(value) > -1)
         });
      });

      // View invoice
      $('.btn-primary').click(function() {
         var invoiceId = $(this).data('id');
         var invoiceType = $(this).data('type');
         if (invoiceType === 'BON DE LIVRAISON') {
            window.location.href = '{% url "view-invoice2" pk=0 %}'.replace('0', invoiceId);
         } else {
            window.location.href = '{% url "view-invoice" pk=0 %}'.replace('0', invoiceId);
         }
      });
   });
</script>

{% endblock %}
